/*========================================================
                      Owl Carousel
=========================================================*/
.clearfix {
  line-height: 0; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.owl-height {
  -moz-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer; }

.owl-carousel.owl-loaded {
  display: block;
  text-align: center; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

.owl-carousel .item {
  max-height: 375px;
  overflow: hidden;
  border: 1px solid #dedede; }

.owl-controls {
  position: relative;
  min-height: 54px;
  display: inline-block; }

.owl-nav {
  position: absolute;
  width: 100%;
  height: 100%; }
  .owl-nav .owl-next,
  .owl-nav .owl-prev {
    position: absolute;
    width: 12px;
    height: 22px;
    z-index: 999;
    top: 16px;
    top: 35%;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .owl-nav .owl-next:hover,
    .owl-nav .owl-prev:hover {
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .owl-nav .owl-prev {
    left: -45px;
    background: url("../images/prev-carousel.png") 0 0 no-repeat; }
  .owl-nav .owl-next {
    right: -45px;
    background: url("../images/next-carousel.png") 0 0 no-repeat; }
  .owl-nav .owl-prev + .owl-next {
    margin-left: 0; }

.owl-dots {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 17px 0; }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 2px solid #d2b6b0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 14px; }
    .owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
      background-color: #d2b6b0;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.type-carousel .item {
  max-height: 395px;
  overflow: hidden;
  border: 1px solid #dedede; }

.owl-gallery {
  position: relative; }
  .owl-gallery .owl-dots {
    display: none !important; }
  .owl-gallery .owl-controls {
    width: 79%;
    position: absolute;
    top: 43%;
    right: 0; }
  .owl-gallery .owl-prev,
  .owl-gallery .owl-next {
    width: 17px;
    height: 30px; }
  .owl-gallery .owl-prev {
    left: 15px;
    background: url("../images/prev-gallery.png") 0 0 no-repeat; }
  .owl-gallery .owl-next {
    right: 15px;
    background: url("../images/next-gallery.png") 0 0 no-repeat; }
  .owl-gallery .item {
    max-height: 540px;
    border: none; }
    .owl-gallery .item img {
      border: 1px solid #dedede;
      width: auto !important; }

.carousel_box .carousel-title {
  color: #928187;
  font-size: 20px;
  line-height: 30px;
  font-family: "Fedra-Sans-Pro-Medium", sans-serif;
  text-transform: uppercase; }

.owl-thumbs {
  float: left;
  padding-right: 50px; }

.owl-thumb-item {
  border: 1px solid #dedede;
  margin-bottom: 20px;
  position: relative;
  z-index: 999;
  display: block; }

.carousel_box {
  position: relative;
  clear: both;
  padding-top: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid #edd7d0; }
  .carousel_box:before, .carousel_box:after {
    display: table;
    content: "";
    line-height: 0; }
  .carousel_box:after {
    clear: both; }

.owl-carousel-2 {
  padding: 35px 0 0; }
  .owl-carousel-2 .owl-dots {
    display: none !important; }
  .owl-carousel-2 .owl-controls {
    width: 100%;
    position: absolute;
    top: -47px; }
  .owl-carousel-2 .owl-prev {
    width: 17px;
    height: 30px;
    left: 15px;
    background: url("../images/owl-carousel-prev.png") 0 0 no-repeat; }
  .owl-carousel-2 .owl-next {
    width: 17px;
    height: 30px;
    right: 15px;
    background: url("../images/owl-carousel-next.png") 0 0 no-repeat; }

.owl-carousel-2 .item {
  border: none;
  padding: 2px; }
  .owl-carousel-2 .item h2 {
    font-size: 22px;
    line-height: 1; }

/*# sourceMappingURL=owl-carousel.css.map */
