@font-face {
    font-family: "MyriadPro-Cond";
    src: url("../fonts/MyriadPro-Cond.otf");
    src: url("../fonts/MyriadPro-Cond.otf?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro-Regular.otf");
    src: url("../fonts/MyriadPro-Regular.otf?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "JandaScrapgirlDots";
    src: url("../fonts/JandaScrapgirlDots.ttf");
    src: url("../fonts/JandaScrapgirlDots.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fedra-Sans-Pro-Light-Light";
    src: url("../fonts/Fedra-Sans-Pro-Light-Light.ttf");
    src: url("../fonts/Fedra-Sans-Pro-Light-Light.ttf?#iefix")format("truetype");
    font-style: normal;

    font-weight: normal;
}
@font-face {
    font-family: "Fedra-Sans-Pro-Medium";
    src: url("../fonts/Fedra-Sans-Pro-Medium.ttf");
    src: url("../fonts/Fedra-Sans-Pro-Medium.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fedra-Sans-Pro-Light-Italic";
    src: url("../fonts/Fedra-Sans-Pro-Light-Italic.ttf");
    src: url("../fonts/Fedra-Sans-Pro-Light-Italic.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fedra-Sans-Pro-Book-Italic";
    src: url("../fonts/Fedra-Sans-Pro-Book-Italic.ttf");
    src: url("../fonts/Fedra-Sans-Pro-Book-Italic.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Fedra-Sans-Pro-Book";
    src: url("../fonts/Fedra-Sans-Pro-Book.ttf");
    src: url("../fonts/Fedra-Sans-Pro-Book.ttf?#iefix")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FedraSansPro-Normal";
    src: url("../fonts/FedraSansPro-Normal.otf");
    src: url("../fonts/FedraSansPro-Normal.otf?#iefix")format("opentype");
    font-style: normal;
    font-weight: normal;
}






