@import "mixins";
@import "_variables";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.form-check li + li {
		margin-left: 0;
	}

	.delivery_block {
		margin-top: 18px;
	}

	.form-check {
		text-align: center;

		li {
			min-width: 200px;
			text-align: left;
		}
	}

	.brand-box {
	 padding: 5px 0 55px;
	}

	.brand-box-overlay img {
		height: 105px;
	}

	.brand-box-overlay p {
		margin-top: 5px;
	}

	.brand-box-overlay a.btn {
		margin-top: 5px;
	}

	.owl-gallery {

		.owl-controls {
			width: 77%;
		}
	}



}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

	.sf-menu > li + li {
		margin-left: 40px;
	}

	.header__nav {
		text-align: left;
	}

	.search_wrap {
		right: 0;
	}

	.foot-info {
		padding: 0;
	}

	.collection-box-info {
		bottom: 15px;
	}

	.brand-box {
		width: 99%;
		margin: 0 auto;
		// height: 50px;
	}

	.brand-box-overlay img {
		height: 120px;
	}

	.brand-box-overlay p {
		margin-top: 15px;
	}

	.brand-box-overlay a.btn {
		margin-top: 15px;
	}

	// .brand-box-cnt {
	// 	bottom: -5px;
	// }

	.col-w-64 {
		width: 100%;
	}

	.owl-gallery {

		.owl-controls {
			width: 80%;
		}
	}

	.gallery-descr {
		margin-top: 15px;
	}

	.search-form_toggle {
		right: -17px;
	}

	.owl-carousel-2 {

		.collection-box-info {

		}
	}


}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.search_wrap {
		top: -11px;
	}

	.camera_caption > div, .camera_nav {
		width: 90%;
		padding-left: 15px;
    	padding-right: 15px;
    	min-width: 300px;
	}

	.carousel_wrapp {
		padding: 0;
	}

	.news {
		padding: 0 0 50px 0;
	}

	.foot-bottom {
		text-align: center;

		> div {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.foot-about {
		text-align: center;
	}

	.news-inner {
		text-align: center;
		padding: 0 30px 30px 28px;
	}

	.share {
		width: 100%;
		text-align: center;
	}

	.well__04 {
	    padding-top: 25px;
	    padding-bottom: 25px;
    }

    .standard-table .thead {
    	padding: 11px 3% 11px 16px;
    }

    .main-descr {
    	text-align: center;
    }

    .delivery_block {
    	float: none;
    	margin: 18px auto 0;
    }

    .form-check li + li {
		margin-left: 25px;
	}

	.buy-main {
		padding: 25px 0;
	}

	.map {
		margin-top: 25px;

		img {
			width: 100%;
		}
	}

	.brand-box {
		margin: 25px auto;
	}

	.pd-rxs-15 {
		padding-right: 15px !important;
	}

	.brand-box {
		text-align: center;
		min-height: 390px;

		// max-height: 320px;

	   > img {
	        // width: 100%;
	    }
	}

	.brand-box-cnt {
	 	bottom: 28px;
	 }

}

@media only screen and (max-width : 710px) {
	.camera_cnt {
		width: 80%;
		margin: 60px 0 0 40px;
	}

	.resp-tabs-list li {
		width: 30%;
	}

	.owl-thumbs {
		float: none;
		width: 100%;
	}

	.owl-thumb-item {
		display: inline-block;
		margin-right: 20px;
	}

	.owl-gallery .owl-controls {
		width: 100%;
	}

	.owl-carousel-2 .item {
		padding: 12px;
	}
}

@media only screen and (max-width : 540px) {
	.share {
		width: 100%;
	}


}

@media only screen and (max-width : 510px) {
	.camera_cnt {
		margin: 10px 0 0 40px;
	}

	.camera-descr {
		font-size: 15px;
		margin-top: 10px;
	}

	  .standard-table .thead {
    	padding: 11px 0 11px 16px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.brand_box {
		text-align: center;

		a {
			display: inline-block;
		}
	}

	.mfControls {
		text-align: center;
	}
}

@media only screen and (max-width : 440px) {
	.owl-thumbs {
		padding: 0;
	}
}

@media only screen and (max-width : 410px) {
	.footer .footer__brand {
		float: none;
		width: 100%;
		margin: 0 0 15px;
		text-align: center;
	}

	.footer .footer__social {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	.social-list__item {
		margin: 0 10px;
	}

	.header__brand {
		margin-top: 25px;
	}

	.camera_pag {
		margin-top: -23px;
	}

	.share {
		width: 100%;
		text-align: center;
		padding: 15px 0px;
	}
}

@media only screen and (max-width : 390px) {

	.brand-box {
		padding: 72px 0 55px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	/**/
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}


/* -------------------------------------------------------------------
Multi-columns-row
------------------------------------------------------------------- */

.multi-columns-row {
	clear: left;
}

.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {

	.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}

@media (min-width: 992px) {

	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}

@media (min-width: 1200px) {

	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }

}

