/*========================   Menu   ==========================*/

//--------------------------------------------------------------
//                       Menu Styles
//--------------------------------------------------------------
.sf-menu {
  @include clearfix;
  display: inline-block;
  position: relative;
  z-index: 999;

  > li {
    position: relative;
    float: left;

    &:before {
      content:"";
      position: absolute;
      top: 5px;
      left: -25px;
      display: block;
      width: 5px;
      height: 5px;
      background-color: #FFF;
      @include border-radius(50%);
    }

    & + li {
      margin-left: 50px;
    }
  }

  li:first-child {
       &:before {
        display: none;
       }
  }

  a {
    display: block;
  }
}

//--------------------------------------------------------------
//                     Menu item styles
//--------------------------------------------------------------
.sf-menu {

  &__item{

    &--link {
      color: #fff;
      text-transform: uppercase;
      font:14px/1.2 $font-book;

      &:hover {
        color: darken(#fff,25%);
      }
    }

    // .sfHover > a,
    // > a:hover {
    //   color: #7B7A7A;
    //   background: map-get($scheme, primary);
    // }
  }

  .sfHover > a {
    color: #7B7A7A;
    background: $primary;
  }

   .active > a {
    color: #212121;
    background: $primary;
  }
}

//--------------------------------------------------------------
//                   Sub menu lvl1 styles
//--------------------------------------------------------------
// .submenu {
//   display: none;
//   position: absolute;
//   top: 100%;
//   width: 235px;
//   margin-top: 10px;
//   padding: 10px 0 10px;
//   background: #FFF;
//   z-index: 2;
//   @include box-sizing(border-box);
// }

//--------------------------------------------------------------
//                 Sub menu lvl1 item styles
//--------------------------------------------------------------
// .submenu {

//   &__item {

//     &--link {
//       color: #FFF;
//       background: $secondary;
//     }

//     &.sfHover > a, > a:hover {
//       color: #FFF;
//       background: $primary;
//     }
//   }
// }

//--------------------------------------------------------------
//                   Sub menu lvl2 styles
//--------------------------------------------------------------
// .sub-submenu {
//   position: static;
//   top: 100%;
//   width: auto;
//   margin-top: 0;
//   padding: 0;
//   z-index: 4;
// }

//--------------------------------------------------------------
//                 Sub menu lvl2 item styles
//--------------------------------------------------------------
// .sub-submenu {

//   &__item {

//     &--link {
//       color: red;
//       background: $default;
//     }

//     &.sfHover > a, > a:hover {
//       color: #FFF;
//       background: $primary;
//     }
//   }
// }

//--------------------------------------------------------------
//                      sf-with-ul styles
//--------------------------------------------------------------
// .sf-menu > li > .sf-with-ul {
//   position: relative;

//   &:before {
//     position: absolute;
//     left: 50%;
//     top: 62%;
//     margin-left: -6px;
//     content: $fa-caret-down;
//     font: 400 12px/12px $fa;
//   }
// }

//--------------------------------------------------------------
//                        Responsive
//--------------------------------------------------------------
@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
