/*==================  Stuck menu  ======================*/
$stuck-bg: #444;
$stuck-bc: #fff;

.stuck_container {

}

.isStuck {
  // background: $stuck-bg;
  @include background(#9a8288, .6);
  z-index: 9999;
  border-bottom: 1px solid $stuck-bc;

  .nav {
    border-top: none;
  }

  .search-form {
      margin-top: 51px;
  }
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}