//========================================================
//                     Variables
//=========================================================

// Colors

$primary: #fff;
$secondary: #9a8288; // body
$secondary2: #928187;
$secondary3: #7f6666;
$secondary4: #525252;
$secondary5: #d7c0b9;
$secondary6: #918080;
$secondary7: #6e5e64;
$secondary8: #df467b;
$default: #fff;

// Fonts

$default-font: 'Fedra-Sans-Pro-Light-Light', sans-serif;
$font-medium: 'Fedra-Sans-Pro-Medium', sans-serif;
$font-italic: 'Fedra-Sans-Pro-Light-Italic', sans-serif;
$font-normal: 'FedraSansPro-Normal', sans-serif;
$font-book: 'Fedra-Sans-Pro-Book', sans-serif;
$font-book-italic: 'Fedra-Sans-Pro-Book-Italic', sans-serif;
$font1: 'MyriadPro-Regular', sans-serif;
$font2: 'MyriadPro-Cond', sans-serif;
$font-decor: 'JandaScrapgirlDots', sans-serif;

