@import "_mixins.scss";
@import "_variables.scss";


/*========================================================
                      Contact Form
=========================================================*/

// $input-height: 50px;
// $input-offset-top: 10px;
// $input-padding: 15px 15px;
// $input-font-family: $default-font;
// $input-font-size: 14px;
// $input-line-height: 20px;
// $input-color: #fff;
// $input-border-radius: 5px;
// $input-brdr: none;
// $input-font-weight: inherit;
// $input-background: rgba(#000, .43);

// $textarea-height: 212px;

// $placeholder-clr: $input-color;
// $placeholder-opacity: 1;

/* MF
========================================================*/
.mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  fieldset {
    border: none;
  }

  * {
    @include box-sizing(border-box);
  }

  h4 {
    color: $secondary2;
    font-family: $default-font;
    text-transform: none;
  }
}

.mailform label {
  position: relative;
  display: block;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  color:$secondary2;
  margin-top: 17px;

  // margin-top: $input-offset-top;

  // &:first-child {
  //   margin-top: 0;
  // }

  input, select, textarea {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    // font-family: $input-font-family;
    // font-size: $input-font-size;
    // padding: $input-padding;
    // line-height: $input-line-height;
    // color: $input-color;
    // background: $input-background;
    // background: red !important;
    // border: $input-brdr;
    // @include border-radius($input-border-radius);

    &:-moz-placeholder {
      font:300 16px $default-font;
      color:#c9c9c9;
    }

    &::-webkit-input-placeholder {
      font:300 16px $default-font;
      color:#c9c9c9;
    }

    &::-moz-placeholder {
      font:300 16px $default-font;
      color:#c9c9c9;
    }

    &:-ms-input-placeholder {
       font:300 16px $default-font;
      color:#c9c9c9;
    }
  }

  input {
    margin-top: 5px;
    border:1px solid #C3C7CC;
    // height: 32px;
    font-size: 16px;
    color:$secondary4;
    padding: 6px 10px;
    vertical-align: middle;
    font-family: $default-font;
    @include transition(0.3s);
  }

  .inp-phone:focus {
    @include transition(0.5s);
    border:1px solid #ff5353;
    color:#ff5353;
  }

  .inp-email:focus {
    @include transition(0.5s);
    border:1px solid #74a278;
    color:#74a278;
  }
  .error {
    margin-top: 4px;
    display: inline-block;
    color:#ff5353;
    font-size: 14px;
    font-family: $font-italic;
  }


  textarea {
    margin-top: 5px;
    border:1px solid #C3C7CC;
    resize: vertical;
    overflow: auto;
    height: 172px;
    font-size: 16px;
    color:$secondary4;
    font-family: $default-font;
    // height: $textarea-height;
  }

  // @media (max-width: 1365px) {
  //   margin-top: 30px;
  // }
}

@import "mailform_modules/_mf-animation.scss";
@import "mailform_modules/_mf-placeholder.scss";
@import "mailform_modules/_mf-validation.scss";
@import "mailform_modules/_mf-submit.scss";
@import "mailform_modules/_mf-icon.scss";
@import "mailform_modules/_mf-select.scss";
@import "mailform_modules/_mf-datepicker.scss";










